*{
    padding: 0%;
    margin: 0%;
}
header nav{
    background-color: #a81212;
}
.card{
    height: 800px;
    justify-content: center;
    display: flex;
}

.bg-bluePersonal{
    background-color: #a81212;
    text-align: center;
}

form .bg-bluePersonal:hover{
    background-color: blue;

}

.btnCatalogo{
    background-color: #a81212;
}
footer{
    background-color: #a81212;
}

/* SECTION DE HORÁRIOS */

#horariosDiv{
    width: 1000px;
    border: 1px solid black;
    box-shadow: 5px 5px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    margin: 30px auto;
}

#horariosDiv table{
    width: 800px;
    border-collapse: collapse;

}

td,th{
    border: solid black 1px;
    padding: 8px;
}

th{
    background-color: brown;
    color: white;
}
td:hover{
    background-color: aliceblue;
}

th:empty{
    background-color: transparent;
    border: none;
}
/* FIM SECTION DE HORÁRIOS */