*{
    padding: 0%;
    margin: 0%;
}
header nav{
    background-color: #a81212;
}
.card{
    height: 800px;
    justify-content: center;
    display: flex;
}

#banner1{
    background-image: url("../image/bannerDesktop/salaCine.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.bg-bluePersonal{
    background-color: #a81212;
    text-align: center;
}

form .bg-bluePersonal:hover{
    background-color: blue;

}

.btnCatalogo{
    background-color: #e4cece;
}
footer{
    background-color: #be5252;
}

/* section DE HORÁRIOS */

#horariosDiv{
    width: 1000px;
    border: 1px solid black;
    box-shadow: 5px 5px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    margin: 30px auto;
}

#horariosDiv table{
    width: 800px;
    border-collapse: collapse;

}

td,th{
    border: solid black 1px;
    padding: 8px;
}

th{
    background-color: brown;
    color: white;
}
td:hover{
    background-color: aliceblue;
}

th:empty{
    background-color: transparent;
    border: none;
}
/* FIM SECTION DE HORÁRIOS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.poltrona {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.poltrona.selected {
    background-color: green;
}




